

input{

    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}
td{
    padding: 0.7rem;
}
button{
    padding: 8px;
    margin: 1rem;
    background-color: dodgerblue;
    color: white;
    cursor: pointer;
}
